<div class="container-fluid">
    <div class="container">
        <div id="bg" class="hero-text">
            <h1>UAS Geo-Portal</h1>
            <p></p>
            <p>Welcome to <strong>UAS Geo-Portal 2019</strong>. This is a Dashboard riding on open source tools to provide visualization and repository of data collected in the class Unmanned Aerial Systems for Applied Research. This is a collaboration between
                students from Masters of Geospatial Technologies and Masters of GeoInformatics from University of Münster, with the guidance from Professor Jan Lehmann, Professor Torsten Prinz and Sebastian Holtkamp.</p>
            <p> Over the years, project teams from the UAS course has been using Geospatial Technologies to collect and analyze data of the River Aa at the city of Münster, Germany. This year our project aims to monitor the changes of River Aa and compare
                the collected Geospatial & UAS data with that in year 2018, in order to assess identify changes and provide useful insights to the continous researches and renaturation processes.</p>
            <div class="row" style="padding-bottom: 50px;">
            </div>


        </div>
    </div>

</div>
<!-- /.container-fluid -->

<!-- Sticky Footer -->
<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2019</span>
        </div>
    </div>
</footer>